<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8"/>
		<title>Register</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous"/>
		<link rel="stylesheet" th:href="@{./css/register.css}"/>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="wrapper">
			<form id="register-form" th:action="@{/register}" method="POST">
				<h2>Register Form</h2>
				<div id="alert-message" class="alert alert-warning" role="alert" th:if="${error}">
					<span th:text="${error}"></span>
				</div>
			  	<div class="form-group">
			    	<label for="username-input">Username</label>
			    	<input type="text" class="form-control" name="username" id="username-input" aria-describedby="emailHelp" placeholder="Enter username">
			  	</div>
			  	<div class="form-group">
			    	<label for="password-input">Password</label>
			    	<input type="password" class="form-control" id="password-input" name="password" placeholder="Password">
			  	</div>
			  	<div class="form-group">
			    	<label for="retype-password-input">Retype password</label>
			    	<input type="password" class="form-control" id="retype-password-input" name="retype_password" placeholder="Retype your password">
			  	</div>
			  	<div class="mt-2 d-flex flex-column">
			  		<button type="submit" class="btn btn-success">Register</button>
			  		<small class="mt-2">Have an user account? Click <a class="text-success" th:href="@{/login}">here</a> to login</small>
			  	</div>
			</form>
		</div>
	</body>
</html>